.battery {
    padding: 4px 8px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.08);
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 14px;
    min-width: 60px;
    align-items: center;
}
.battery icon {
    margin-right: 4px;
}

.barRight {
  margin-right:10px;
}

.Bar {
  background-color: transparent;

}
