// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

.Bar {
    background: transparent;
    background-color: transparent;
    color: $fg-color;
    font-weight: bold;

    >centerbox {
        background: transparent;
        border-radius: 10px;
        margin: 8px;
    }

}


.barRight {
  margin-right:15px;
}

.barRight * {
  margin-right:10px;


}
